body {
  margin: 0;
  padding: 0;
  background: #505050;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

canvas {
  display: block;
}

.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Title */
.title {
  color: #EB4040;
  margin-bottom: 4px;
  font-weight: 500;
}

.copyright {
  position: fixed;
  bottom: 37px;
  left: 10px;
  font-size: 20px;
  font-family: "Patrick Hand", cursive;
  font-weight: 50px;
  color: #0000007e;
}
.name {
  position: fixed;
  bottom: 15px;
  left: 10px;
  font-size: 20px;
  font-family: "Patrick Hand", cursive;
  font-weight: 50px;
  color: #0000007e;
}
.disclaimerHome{
  position: fixed;
  width: 50vw;
  top: 15px;
  left: 10px;
  font-size: 20px;
  font-family: "Patrick Hand", sans-serif;
  font-weight: 50px;
  color: #0000007e;
}
